# IDE files
*.iml
.idea/

# Input data directories
bibliographic_data_aleph/*.mrc
bibliographic_data_koha/*.mrc

# (Intermediate) result data
lib/ready_for_import/*.sql
lib/mariadb_intermediate_values/*.sql
pickles/*.pickle
mariadb_data/*

# Python
.python-version
**/__pycache__
